@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

header {
  text-align: center;
  font-family: Space-Grotesk, Arial, serif;
  background: antiquewhite;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
}

#img-bg {
  background-color: grey;
  padding: 10px;
  display: flex;
  justify-content: center;

}

#image {
  margin-top: 10%;
  border-radius: 10px;
}

#img-div p {
  text-align: center;
  font-family: Space-Grotesk, Arial, serif;
  font-style: italic;
}

#tribute-info {
  text-align: center;
}

#tribute-info ul > li {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
